Source: flisp
Section: lisp
Priority: optional
Maintainer: Georg Lehner <jorge@magma-soft.at>
Build-Depends: debhelper (>= 9), pandoc, graphviz

Package: flisp
Architecture: any
Depends: libc6
Description: fLisp - a tiny Lisp language interpreter
 fLisp is a tiny yet practical interpreter for a dialect of the Lisp
 programming language.
 .
 This package provides fLisp as a standalone command line interpreter.


Package: flisp-dev
Section: libdevel
Architecture: any
Description: fLisp - a tiny Lisp language interpreter - development
 fLisp is a tiny yet practical interpreter for a dialect of the Lisp
 programming language.
 .
 This package contains the header and development files needed to build
 programs and packages embedding fLisp.
