#!/usr/bin/make -f

clean:
	@make clean
	echo rm -rf $(DESTDIR)

build:
	@make doc
	@make PREFIX=/usr

binary:
	make install DESTDIR=debian/flisp PREFIX=/usr
	make install-dev DESTDIR=debian/flisp-dev PREFIX=/usr
	dh_gencontrol
	dh_builddeb
